gradio
ollama
mcp[cli]
langchain
langchain-mcp-adapters
langchain-ollama
langgraph
langchain-community
langgraph-swarm
python-dotenv
PyPDF2
python-docx
python-pptx
fastapi
uvicorn
fastapi-mcp
SQLAlchemy
openpyxl
a2a-sdk
streamlit
langgraph-supervisor
gradio
uuid
nest_asyncio
chromadb
sentence-transformers
pypdf
pydantic>=1.8.0
python-multipart>=0.0.5
python-dotenv
docx2txt
langchain-google-vertexai>=0.1.0
google-cloud-aiplatform>=1.36.0
PyMuPDF
frontend